%toolbelt {

  box-sizing: border-box;  
  padding: 16px 32px;
  margin: 3px;
  border-width: 2px;
  border-color:transparent;
  border-style: dotted;  
  display: inline-block;

  &:hover {
    border-color: rgba(#000, 0.5);
    cursor: pointer;
  }
}

.action_buttons {
  @extend %toolbelt;
  color: #fff;  
  background-color: tomato
}

.reset_buttons {
  @extend %toolbelt;
  color: #000;
  background-color: #00bcd4
}
